{% extends '@EasyAdmin/default/layout.html.twig' %}

{% block content_title %}Cheques emitidos{% endblock %}

{% block main %}
    {{ form_start(form) }}
        {{ form_errors(form) }}
    <table width="30%">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>&nbsp;</th>
                <th>N&uacute;mero</th>
                <th>&nbsp;</th>
                <th>Monto</th>
                <th>&nbsp;</th>
                <th>Banco</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
        {% for c in checks %}
            <tr>
                <td>{{ c.date | date('d/m/Y') }}</td>
                <td>&nbsp;</td>
                <td>{{ c.checkNumber }}</td>
                <td>&nbsp;</td>
                <td>{{ c.amount }}</td>
                <td>&nbsp;</td>
                <td>{{ c.bank }}</td>
                <td>&nbsp;</td>
                <td>{{ form_widget(attribute(form, 'check_' ~ loop.index0 )) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ form_end(form) }}
{% endblock %}

{% block body_javascript %}
    {{ parent() }}
{% endblock %}