{% extends '@EasyAdmin/default/layout.html.twig' %}
{% form_theme form with easyadmin_config('design.form_theme') %}

{% block content_title %}Cheques emitidos{% endblock %}

{% block main %}
    {% if checks %}
        {{ form_start(form) }}
            {{ form_errors(form) }}
        <table width="30%" class="table-responsive table">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>N&uacute;mero</th>
                    <th>Monto</th>
                    <th>Banco</th>
                    <th>D&eacute;bito presupuestado</th>
                </tr>
            </thead>
            <tbody>
            {% for c in checks %}
                <tr>
                    <td>{{ c.fecha | date('d/m/Y') }}</td>
                    <td>{{ c.numero }}</td>
                    <td>{{ c.importe }}</td>
                    <td>{{ c.banco }}</td>
                    <td>{{ form_widget(attribute(form, 'match_' ~ loop.index0 )) }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {{ form_end(form) }}
    {% else %}
        <p>No quedan cheques para conciliar</p>
    {% endif %}
{% endblock %}

{% block body_javascript %}
    {{ parent() }}
{% endblock %}