{% extends '@EasyAdmin/default/layout.html.twig' %}
{% form_theme form with easyadmin_config('design.form_theme') %}

{% block content_title %}{{ ('import.' ~ reportName) | trans }}{% endblock %}

{% block main %}
    {{ form_start(form) }}
        {% for row in form.children %}
            {% if row.vars.type is defined %}
                {% if row.vars.type in ['file'] %}
                    <div>{{ form_label(row) }} &nbsp; {{ form_widget(row) }}</div>
                    <hr/>
                {% endif %}
            {% endif %}
        {% endfor %}
    </table>
    {{ form_end(form) }}
{% endblock %}

{% block body_javascript %}
    {{ parent() }}
{% endblock %}