{% extends '@EasyAdmin/default/layout.html.twig' %}
{% form_theme form with easyadmin_config('design.form_theme') %}

{% block content_title %}Saldo del Banco "{{ bank }}" para el día {{ fecha | date('d-m-Y') }}{% endblock %}

{% block main %}
    <div class="table-responsive">
        <table class="table">
            <tbody>
                <tr>
                    <td><strong>Saldo inicial</strong>: $ {{ initialBalance.valor | number_format(2, ',', '.') }}</td>
                </tr>
                <tr>
                    <td>Movimientos del día {{ fecha | date('d-m-Y') }}</td>
                </tr>
                {% for t in transactions %}
                    {% if t.concretado %}
                        <tr>
                            <td>{{ t }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
                <tr>
                    <td><strong>Saldo final esperado</strong>: $ {{ finalBalance.valor | number_format(2, ',', '.') }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    {{ form(form) }}
{% endblock %}

{% block body_javascript %}
    {{ parent() }}

    <script type="text/javascript">
        var saldoProyectado = {{ finalBalance.valor }};
        $("form").submit( function ( e, n ) {
            var saldoCargado = parseFloat( $('input[type="text"]').val() );
            var diff = Math.abs( saldoCargado - saldoProyectado);
            if ( diff > 1 ) {
                alert( 'Alerta: El saldo cargado no coincide con el proyectado. Diferencia: $ ' + ( diff ).toFixed(2) );
            }

            return true;
        });
    </script>
{% endblock %}