{% extends '@EasyAdmin/default/layout.html.twig' %}
{% form_theme form with easyadmin_config('design.form_theme') %}

{% block content_title %}Conciliación de extractos bancarios{% endblock %}

{% block main %}
    <div id="wait" style="display: none;">
        <h3>Cargando...</h3>
    </div>
    {{ form_start(form) }}
        {{ form_row(form.bank) }}
    <br/>
    <br/>
    <br/>
    <div style="width: 100%;height: 100%" class="table-responsive">
        <table width="100%" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Concepto</th>
                    <th>Importe</th>
                    <th>Movimiento presupuestado</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
            {% for k, l in summaryLines %}
                <tr>
                    <td>{{ l.fecha | date('d/m/Y') }}</td>
                    <td>{{ l.concepto }}</td>
                    <td>$ {{ l.importe | number_format(2, ',', '.')}}</td>
                    <td>{{ form_widget(form['match-' ~ k]) }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {{ form_row(form.submit) }}
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block body_javascript %}
    {{ parent() }}
    <script type="text/javascript">
        $('#form_bank').change(function(){
            if ( selectedBankId = $('#form_bank').val() ) {
                window.location.href = Routing.generate('match_bank_summaries', { bankId: selectedBankId });
            }
        });

        $(document).ajaxStart(function(){
            $("#wait").css("display", "block");
        });

        $(document).ajaxComplete(function(){
            $("#wait").css("display", "none");
        });
    </script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
{% endblock %}
