{% extends '@EasyAdmin/default/layout.html.twig' %}

{% block content_title %}Movimientos del banco <b>{{ bank }}</b>{% endblock %}

{% block main %}
    {{ form_start(form) }}
        {{ form_errors(form) }}
    <table border="1" width="100%">
        <thead>
            <th>Movimiento presente en el extracto</th>
            <th>Movimiento presupuestado</th>
        </thead>
        <tbody>
        {% for t in actualTransactions %}
            <tr>
                <td>
                    <table>
                        <tr>
                            <td>{{ t.date | date('d/m/Y') }}</td>
                            <td>&nbsp;</td>
                            <td>{{ t.concept }}</td>
                            <td>&nbsp;</td>
                            <td>{{ t.amount }}</td>
                        </tr>
                    </table>
                </td>
                <td>
                    {{ form_widget(attribute(form, 'match_' ~ loop.index0 )) }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ form_end(form) }}
{% endblock %}

{% block body_javascript %}
    {{ parent() }}
{% endblock %}