{% extends '@EasyAdmin/default/layout.html.twig' %}
{% form_theme form with easyadmin_config('design.form_theme') %}

{% block content_title %}Cheques aplicados{% if checks|length > 0 %} ({{ checks | length }}){% endif %}{% endblock %}

{% block main %}
    {% if checks|length > 0 %}
        {{ form_start(form) }}
        {{ form_errors(form) }}
	<div class="table-responsive">
        <table width="100%" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>N&uacute;mero</th>
                    <th>&nbsp;</th>
                    <th>Banco</th>
                    <th>&nbsp;</th>
                    <th>Cliente</th>
                    <th>&nbsp;</th>
                    <th>Tipo</th>
                    <th>&nbsp;</th>
                    <th>Fecha</th>
                    <th>&nbsp;</th>
                    <th>Acreditaci&oacute;n</th>
                    <th>&nbsp;</th>
                    <th>Monto</th>
                    <th>&nbsp;</th>
                    <th><span style="alignment: center">Destino</span></th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
            {% for c in checks %}
                <tr>
                    <td>{{ c.number }}</td>
                    <td>&nbsp;</td>
                    <td>{{ c.sourceBank }}</td>
                    <td>&nbsp;</td>
                    <td>{{ c.issuer }}</td>
                    <td>&nbsp;</td>
                    <td>{{ c.type }}</td>
                    <td>&nbsp;</td>
                    <td>{{ c.date | date('d/m/Y')}}</td>
                    <td>&nbsp;</td>
                    <td>{{ c.creditDate | date('d/m/Y')}}</td>
                    <td>&nbsp;</td>
                    <td> ${{ c.amount | number_format(2, ',', '.') }}</td>
                    <td>&nbsp;</td>
                    <td>
                        <table>
                            <tr>
                                <td>{{ form_widget(attribute(form, 'bank_' ~ loop.index0 )) }}</td>
                                <td>&nbsp;</td>
                                <td>{{ form_widget(attribute(form, 'debit_' ~ loop.index0 )) }}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
	</div>
        {{ form_end(form) }}
    {% else %}
        No hay cheques aplicados por conciliar
    {% endif %}
{% endblock %}

{% block body_javascript %}
    {{ parent() }}
    <script type="text/javascript">
        $('select').each( function( i, s ) {
            $(s).change( function () {
                parts = s.id.split(/_/);
                if ( s.id.indexOf('bank') > -1 ) {
                    targetId = 'form_debit_' + parts[2];
                } else if ( s.id.indexOf('debit') > -1 ) {
                    targetId = 'form_bank_' + parts[2];
                } else {
                    alert( 'Changing something else');
                }
                $('#' + targetId + " option:selected").removeAttr("selected");
            })
        } );
    </script>
{% endblock %}
