{% extends '@EasyAdmin/default/layout.html.twig' %}
{% form_theme form with easyadmin_config('design.form_theme') %}

{% block content_title %}{{ 'checks.received.title' | trans }}{% endblock %}

{% block main %}
    {% if nonProcessed|length > 0 %}
        <p><b>{{ 'checks.nonProcessed' | trans }} ({{ nonProcessed | length }})</b></p>
        {{ form_start(form) }}
        {{ form_errors(form) }}
	<div class="table-responsive">
        <table width="100%" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>{{ 'check.number' | trans }}</th>
                    <th>&nbsp;</th>
                    <th>{{ 'check.bank' | trans }}</th>
                    <th>&nbsp;</th>
                    <th>{{ 'check.client' | trans }}</th>
                    <th>&nbsp;</th>
                    <th>{{ 'check.type' | trans }}</th>
                    <th>&nbsp;</th>
                    <th>Fecha</th>
                    <th>&nbsp;</th>
                    <th>Acreditaci&oacute;n</th>
                    <th>&nbsp;</th>
                    <th>Monto</th>
                    <th>&nbsp;</th>
                    <th><span style="alignment: center">Destino</span></th>
                </tr>
            </thead>
            <tbody>
            {% for k, c in nonProcessed %}
                <tr>
                    <td>{{ c.number }}</td>
                    <td>&nbsp;</td>
                    <td>{{ c.sourceBank }}</td>
                    <td>&nbsp;</td>
                    <td>{{ c.issuer }}</td>
                    <td>&nbsp;</td>
                    <td>{{ c.type }}</td>
                    <td>&nbsp;</td>
                    <td>{{ c.date | date('d/m/Y')}}</td>
                    <td>&nbsp;</td>
                    <td>{{ c.creditDate | date('d/m/Y')}}</td>
                    <td>&nbsp;</td>
                    <td> ${{ c.amount | number_format(2, ',', '.') }}</td>
                    <td>&nbsp;</td>
                    <td>{{ form_widget(attribute(form, 'check_' ~ k )) }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
	</div>
        {{ form_end(form) }}
    {% else %}
        {{ 'checks.received.nonProcessed.empty' | trans }}
    {% endif %}
{% endblock %}

{% block body_javascript %}
    {{ parent() }}
{% endblock %}
