{% extends '@EasyAdmin/default/layout.html.twig' %}
{% form_theme form with easyadmin_config('design.form_theme') %}

{% block content_title %}{{ 'Bank balance' | trans }}{% endblock %}

{% block main %}
    {{ form(form) }}
    {% if past|length > 0 %}
        <h4>Saldos históricos</h4>
        <table width="100%" class="table-bordered table-responsive table-striped">
            <thead>
                <tr>
                    <th>{{ 'Date' | trans }}</th>
                    {% for b in banks %}
                        <th>{{ b }}</th>
                    {% endfor %}
                    <th>{{ 'Consolidado' | trans }}</th>
                </tr>
            </thead>
            <tbody>
            {% for d in past %}
                <tr>
                    <td>{{ d | date('d/m/Y') }}</td>
                    {% set total = 0 %}
                    {% for b in banks %}
                        {% set actual = b.getPastActualBalance( d ) %}
                        {% set expected = b.getExpectedBalance( d ) %}
                        {% set class = '' %}
                        {% if not actual %}
                            {% set actual = expected %}
                            {% set class='alert-warning' %}
                        {% endif %}
                        {% set diff = ( expected.valor - actual.valor) | abs %}
                        {% if diff > 1 %}
                            {% set class='alert-warning' %}
                        {% endif %}
                        <td>
                            <a href="{{ url('load_bank_balance', { 'id' : b.id, 'dateString': d | date('Y-m-d')}) }}">
                                <span class="{{ class }}">$ {{ actual.valor|number_format(2, ',', '.') }}</span>
                            </a>
                        </td>
                        {% set total = total + actual.valor %}
                    {% endfor %}
                    <td>$ {{ total | number_format(2, ',', '.')}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
    <h4>Saldos para conciliar</h4>
    <table width="100%" class="table-bordered table-responsive table-striped">
        <thead>
        <tr>
            <th>{{ 'Date' | trans }}</th>
            {% for b in banks %}
                <th>{{ b }}</th>
            {% endfor %}
            <th>Consolidado</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ date('-1 days') | date('d/m/Y') }}</td>
                {% set total = 0 %}
                {% for b in toBeLoadedBalances %}
                    {% set total = total + b.valor %}
                    <td><a href="{{ url('load_bank_balance', { 'id' : b.bank.id, 'dateString': b.fecha | date('Y-m-d')}) }}">{% if b.valor < 0 %}<span class="alert-danger">{% endif %}$ {{ b.valor|number_format(2, ',', '.') }}{% if b.valor < 0 %}</span>{% endif %}</a></td>
                {% endfor %}
                <td>$ {{ total |number_format(2, ',', '.') }}</td>
            </tr>
        </tbody>
    </table>
    {% if futureBalances | length > 0 and past | length > 0 %}
        <hr/>
    {% endif %}
    {% if futureBalances|length > 0 %}
        <h4>Saldos proyectados</h4>
        <table width="100%" class="table-bordered table-responsive table-striped">
            <thead>
            <tr>
                <th>{{ 'Date' | trans }}</th>
                {% for b in banks %}
                    <th>{{ b }}</th>
                {% endfor %}
                <th>{{ 'Consolidado' | trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for d, fb in futureBalances %}
                <tr>
                    <td>{{ d }}</td>
                    {% set total = 0 %}
                    {% for b in fb %}
                        <td>{% if b.valor < 0 %}<span class="alert-danger">{% endif %}$ {{ b.valor|number_format(2, ',', '.') }}{% if b.valor < 0 %}</span>{% endif %}</td>
                        {% set total = total + b.valor %}
                    {% endfor %}
                    <td>$ {{ total | number_format(2, ',', '.')}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% if past | length > 0 or futureBalances | length > 0 %}
        <p><button id="sendEmail" class="btn btn-primary">{{ 'Send via email' | trans }}</button></p>
    {% endif %}
{% endblock %}

{% block body_javascript %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script type="text/javascript">
        $('#sendEmail').click( function() {
            $('#sendEmail').attr('disabled', 'disabled');
            $.ajax(
                Routing.generate('send_bank_balance', {
                    'dateFrom': $('#form_dateFrom_year').val() + '-' + $('#form_dateFrom_month').val() + '-' + $('#form_dateFrom_day').val(),
                    'dateTo': $('#form_dateTo_year').val() + '-' + $('#form_dateTo_month').val() + '-' + $('#form_dateTo_day').val(),
                    'bank': $('#form_bank').val()
                })
            ).success( function () {
                alert('Success!');
            }).fail( function() {
                alert('El envio fallo :(');
            }).always( function () {
                $('#sendEmail').removeAttr('disabled');
            });
        });
    </script>
{% endblock %}