{% extends '@EasyAdmin/default/layout.html.twig' %}
{% form_theme form with easyadmin_config('design.form_theme') %}

{% block content_title %}{{ 'Bank balance' | trans }}{% endblock %}

{% block main %}
    {{ form_start(form) }}
    {{ form_label(form.bank) }}
    <table width="100%">
        <tr>
            <td width="50%">{{ form_widget(form.bank) }}</td>
            <td width="10%">&nbsp;</td>
            <td width="40%"><a href="{% if form.bank.vars.data %}{{ url('load_bank_balance', { 'id' : form.bank.vars.data.id }) }}{% else %}#{% endif %}" style="display:{% if form.bank.vars.data %}block;{% else %}none;{% endif %}" id="loadBalance">{{ 'Load balance' | trans }}</a></td>
        </tr>
    </table>
    {{ form_rest(form) }}
    {% if balances|length > 0 %}
        <hr/>
        <table width="100%" class="table-bordered table-responsive table-striped">
            <thead>
                <tr>
                    <th>{{ 'Date' | trans }}</th>
                    <th>{{ 'Balance' | trans }}</th>
                </tr>
            </thead>
            <tbody>
            {% for d, b in balances %}
                <tr>
                    <td>{{ d }}</td>
                    <td>{% if b < 0 %}<span class="alert-danger">{% endif %}$ {{ b|number_format(2, ',', '.') }}{% if b < 0 %}</span>{% endif %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <br/>
        <p><button id="sendEmail" class="btn btn-primary">{{ 'Send via email' | trans }}</button></p>
    {% endif %}
{% endblock %}

{% block body_javascript %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script type="text/javascript">
        $('#{{ form.bank.vars.id }}').change( function() {
            if ( this.value ) {
                $('#loadBalance').attr('href', Routing.generate('load_bank_balance', { 'id' : this.value }));
                $('#loadBalance').show();
            } else {
                $('#loadBalance').attr('href', '#');
                $('#loadBalance').hide();
            }
        });

        $('#sendEmail').click( function() {
            $('#sendEmail').attr('disabled', 'disabled');
            $.ajax(
                Routing.generate('send_bank_balance', {
                    'dateFrom': $('#form_dateFrom_year').val() + '-' + $('#form_dateFrom_month').val() + '-' + $('#form_dateFrom_day').val(),
                    'dateTo': $('#form_dateTo_year').val() + '-' + $('#form_dateTo_month').val() + '-' + $('#form_dateTo_day').val(),
                    'bank': $('#form_bank').val()
                })
            ).success( function () {
                alert('Success!');
            }).fail( function() {
                alert('El envio fallo :(');
            }).always( function () {
                $('#sendEmail').removeAttr('disabled');
            });
        });
    </script>
{% endblock %}